# ---- Mongo (driver-service) ----
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority 
MONGO_DB=taxiHub
MONGO_COLLECTION=drivers

# ---- Gateway config ----
JWT_SECRET=mysecret123
DRIVER_SERVICE_URL=http://driver-service:8081